@charset "utf-8";





/* CSS Document */











a img {border: none; }











a, #navEZPagesTOC ul li a {





        color:#656363;





        text-decoration:none;





        }





		





		a, #navEZPagesTOC ul li a selected {





        color:#fff;





        text-decoration:none;





        }





		











 





a:hover, #navEZPagesTOC ul li a:hover, #navMain ul li a:hover, #navSupp ul li a:hover, #navCatTabs ul li a:hover {











        }











h4, h5, h6, LABEL, h4.optionName, LEGEND, ADDRESS, .sideBoxContent, .larger{





        





        }











.attribsSelect{ padding:0 5px 0 0;}











.biggerText {











        }











#gender-male, #gender-female, #email-format-text{ margin-left:8px;}





.information{ padding:8px 0 0 16px;}











CODE {





        font-family:Arial, Helvetica, sans-serif; font-size:12px; line-height:14px; color:#656363;





        }











FORM, SELECT, INPUT {





       





        }





FORM	{margin:0px; padding:0px;}











TEXTAREA {





	display: block;





	width: 90%;





        }











input:focus, select:focus, textarea:focus {











        }











FIELDSET {





        padding: 0.5em;





        margin: 0.5em 0em;





		border:1px solid #E1E1E1;





        }











LEGEND {





        font-weight: bold; padding:0 5px; color:#656363;





        }











LABEL, h4.optionName {





	font-size: 14px;





        





        }











LABEL.checkboxLabel, LABEL.radioButtonLabel {





		margin-left:5px;





        }











#logo, .centerBoxContents, .specialsListBoxContents, .categoryListBoxContents, .centerBoxContentsAlsoPurch, .attribImg {





        float: left;





        }











LABEL.inputLabel {





        width: 11em;





        float: left;





		padding-left:10px;





        }











LABEL.inputLabelPayment {





        width: 15em;





        float: left;





		padding:4px 0 4px 0;





        }











LABEL.selectLabel, LABEL.switchedLabel, LABEL.uploadsLabel  {





        width: 12em;





        float: left;





        }











P, ADDRESS, #contactUsNoticeContent {





        padding: 0.5em;





        }











ADDRESS {





        font-style: normal;





        }











.clearBoth {





        clear: both;





        }











HR {





	color:#C1C1C1;





	border:0; border-top:1px solid #E1E1E1;





	margin:5px 0px;





}











/*warnings, errors, messages*/





.messageStackWarning, .messageStackError, .messageStackSuccess, .messageStackCaution {





        line-min-height: 1.8em;





        padding: 0.2em;





        





        }











.messageStackWarning, .messageStackError {





        color:#FF0000; 





        }











.messageStackSuccess {





        background-color: #F1F6E6;





        color:#656363;





        }











.messageStackCaution {





        background-color: #FFFF66;





        color:#656363;





        }











/*wrappers - page or section containers*/





#mainWrapper {





        text-align: left;





        vertical-align: top;





        }











#headerWrapper, #contentMainWrapper, #logoWrapper, #cartBoxListWrapper, #ezPageBoxList, #cartBoxListWrapper ul, #ezPageBoxList ul, #mainWrapper, #popupAdditionalImage, #popupImage {





        }











#navColumnOneWrapper, #navColumnTwoWrapper, #mainWrapper {





       





        } 











#tagline {





        color:#656363; margin-top:10px;





        font-size: 12px;





        text-align : center;





        vertical-align: middle;





        }











#sendSpendWrapper {





        border: 1px solid #cacaca;





        float: right;





        margin: 0em 0em 1em 1em;





        }











.floatingBox, #accountLinksWrapper, #sendSpendWrapper, #checkoutShipto, #checkoutBillto, #navEZPagesTOCWrapper {





        margin: 0;





		color:#656363;





        }





.floatingBox a {color:#656363;}





#productDetailsList li a{ color:#656363;}





#productDetailsList li { color:#656363;}





.wrapperAttribsOptions { display:block;





        margin: 0.3em 0em;





        }











/*navigation*/





#sorter {margin:10px 10px -15px 10px;}





.navSplitPagesResult {margin-top:7px; margin-bottom:7px; margin-left:10px; margin-right:10px; font-size:10px;}





.navSplitPagesResult a {color:#161616;}





.navSplitPagesLinks {margin-top:7px; margin-bottom:7px; margin-left:10px; margin-right:10px; font-size:10px;}





.navSplitPagesLinks a {color:#161616;}





.navNextPrevCounter {





        margin: 0em;





        font-size: 0.9em;





        }





.navNextPrevList {





        display: inline;





        white-space: nowrap;





        margin:0px 2px 3px 0px;





        list-style-type: none;





        }





.navNextPrevWrapper{





		margin-bottom:2px;





		}











#navMainWrapper, #navSuppWrapper, #navCatTabsWrapper {





       





        }











#navMain ul, #navSupp ul, #navCatTabs ul  {





        margin: 0;





        padding:  0.5em 0em;





        list-style-type: none;





        text-align: center;





        line-min-height: 1.5em;





        }











#navMain ul li, #navSupp ul li, #navCatTabs ul li {





       





        }











#navMain ul li a, #navSupp ul li a, #navCatTabs ul li a {





      





        }











#navEZPagesTOCWrapper {





        font-weight: bold; float:inherit;





        min-height: 1%;





		padding:0.5em;





		margin:5px 0px;





        border: 1px solid #E1E1E1;





        }











#navEZPagesTOC ul {





        margin: 0;





        padding:  0.5em 0em;





        list-style-type: none;





        line-min-height: 1.5em;





        }











#navEZPagesTOC ul li {





        white-space: nowrap;





        }











#navEZPagesTOC ul li a {





        padding: 0em 0.5em;





        margin: 0;





        }











#navMainSearch, #navCategoryIcon {





        margin:5px 5px 0 0px;





        }























#navEZPagesTop {





        





        }

















/*The main content classes*/





#contentColumnMain, #navColumnOne, #navColumnTwo, .centerBoxContents, .specialsListBoxContents, .categoryListBoxContents, .additionalImages, .centerBoxContentsSpecials, .centerBoxContentsAlsoPurch, .centerBoxContentsFeatured, .centerBoxContentsNew, .alert {





        vertical-align: top;





        }











/*.content,*/ #productDescription, .shippingEstimatorWrapper {





        /*font-size: 1.2em;*/





        /*padding: 0.5em;*/





        }





.content	{





		margin:0;





		}











.alert {





        color: #FF0000;





        margin-left: 0.5em;





		margin-right:5px;





        }





.advisory {}





.important {





        font-weight: bold;





		margin:5px;





        }





.notice {}





.rating{}





.gvBal {





        float: right;





        }





#bannerOne, #bannerTwo,  #bannerThree,  #bannerFour,  #bannerFive,  #bannerSix {





        padding: 0em;





        }











.smallText, #siteinfoLegal, #siteinfoCredits, #siteinfoStatus, #siteinfoIP {





        font-size: 0.9em;





        }











/*Shopping Cart Display*/











.tableHeading TH {











        }











.tableHeading, #cartSubTotal { 





      





	  }

















.tableRow, .tableHeading, #cartSubTotal {





        min-height: 2.2em;





        }











.cartUnitDisplay, .cartTotalDisplay {





        text-align: right;





        padding-right: 0.2em;





        }











#scUpdateQuantity {





        width: 2em;





        }











.cartQuantity {





        width: 4.7em;





        }











.cartNewItem {





        color:#656363;





        position: relative;  /*do not remove-fixes stupid IEbug*/





        }











.cartOldItem {





        /*do not remove-fixes stupid IEbug*/





        }











.cartBoxTotal {





        text-align: right;





        font-weight: bold;





        }











.cartRemoveItemDisplay {





        width: 3.5em;





        }











#cartAttribsList {





        margin-left: 1em;





        }











#mediaManager {





width: 50%; 





margin: 0.2em;





padding: 0.5em;





}

















#cartBoxListWrapper ul, #ezPageBoxList ul {





        list-style-type: none;





        }











#ezPageBoxList li, .cartBoxTotal {





        margin: 0;





        padding: 0.2em 0em;





        } 











.totalBox {





        width: 5.5em;





        text-align: right;





        padding: 0.2em;





		color:#60748a; font-weight:bold; font-size:11px;





        }











.lineTitle, .amount {





        text-align: right;





        padding: 0.2em;





        }











.amount {





        width: 5.5em;





        }











/*Image Display*/

















.categoryIcon {}





#cartImage {





        margin: 0.5em 1em;





        }











/*Attributes*/





.attribImg {





        width: 20%;





        margin: 0.3em 0em;





}











.attributesComments {}











/*list box contents*/





.centerBoxContents, .specialsListBoxContents, .categoryListBoxContents, .additionalImages, .centerBoxContentsSpecials, .centerBoxContentsAlsoPurch, .centerBoxContentsFeatured, .centerBoxContentsNew {











        }











/*sideboxes*/





.columnLeft {}





.columnRight {}









































.sideBoxContent {





        }























.rightBoxHeading {





        margin: 0em;





        background-color: #663366;





        padding: 0.2em 0em;





        }











h3.leftBoxHeading a:hover {





        color: #FFFF33;





        text-decoration: none;





        } 











h3.rightBoxHeading a:hover {





        color: #FF0000;





        text-decoration: none;





        }











.rightBoxContent {





        margin-bottom: 1em;





        }











.centeredContent, TH, #cartEmptyText, #cartBoxGVButton, #navCatTabsWrapper, #navEZPageNextPrev, #bannerOne, #bannerTwo,  #bannerThree,  #bannerFour,  #bannerFive,  #bannerSix, #siteinfoLegal, #siteinfoCredits, #siteinfoStatus, #siteinfoIP, .center, .cartRemoveItemDisplay, .cartQuantityUpdate, .cartQuantity, #cartBoxGVBalance, .leftBoxHeading, .centerBoxHeading,.rightBoxHeading, .productListing-data, .accountQuantityDisplay, .ratingRow, LABEL#textAreaReviews, #productMainImage, #reviewsInfoDefaultProductImage, #productReviewsDefaultProductImage, #reviewWriteMainImage, .centerBoxContents, .specialsListBoxContents, .categoryListBoxContents, .additionalImages, .centerBoxContentsSpecials, .centerBoxContentsAlsoPurch, .centerBoxContentsFeatured, .centerBoxContentsNew, .gvBal, .attribImg {











       width:auto;





        }





.categoryListBoxContents a {text-decoration:none; color:#C00505; text-transform:uppercase; text-align:center;}











.cartTotalsDisplay{











}

















#bannerboxHeading {





        background-color: #0000CC;





}











#upProductsHeading {





        text-align: left;





        }











#upDateHeading {





        text-align: right;





        }











/*misc*/





.back {





        float: left;





        }











.forward {





        float: right;





        }











.bold {





        font-weight: bold;





        }











.rowOdd {





        





        min-height: 1.5em;





        vertical-align: top;





        }











.rowEven { padding:5px 5px 5px 5px;





        





        min-height: 1.5em;





        vertical-align: top;





        }











CAPTION {





        /*display: none;*/





        }











#myAccountGen li, #myAccountNotify li {





        margin: 0;





        } 











.accountTotalDisplay, .accountTaxDisplay {





        width: 20%;





        text-align: right;





        /*vertical-align: top*/





        }











.accountQuantityDisplay {





        width: 10%;





        vertical-align: top





        }











TR.tableHeading {





        min-height: 2em;





        }











#siteMapList {





        width: 90%;





        float: right;





        }





#siteMapList ul{ list-style:circle;}











.ratingRow {





        margin: 1em 0em 1.5em 0em;





        }











LABEL#textAreaReviews {





        font-weight: normal;





        }

















/*!!!!!!!!!*/





#gvFaqDefaultMainContent{margin:10px 15px 15px 15px;}





#gvFaqDefaultContent{margin:0 5px 0 5px;}





#reviewsDefaultNoReviews{margin:0 5px 5px 5px;}





#createAcctSuccessMainContent{ margin:5px;}











.main_block {margin:20px;}











.ee	{text-decoration:line-through;}









































/*  --------------- PRICES ---------------  */











.normalprice, .productSpecialPriceSale {





        





}





		





.normalprice {





	color:#60748a; font-weight:normal; font-size:11px; text-decoration:line-through;





}











.productSpecialPrice, .productSalePrice, .productSpecialPriceSale {color:#60748a; font-weight:bold; font-size:11px;}











.productSpecialPriceSale {





	text-decoration:line-through;





}





		





.productPriceDiscount {color:#373737; font-size:12px;}





























/*  --------------- BUTTONS ---------------  */











.buttonRow, .buttonRow2 { 





		margin:0;





		padding:7px 0;





}











.buttonRow input, .buttonRow2 input, .buttonRow3 input {border:none; padding:0; background:none;}











.transpasrent {





	background-image: url(bg_transparent_box.png);





	background-repeat: repeat;





	height: 500px;





	width: 900px;





}





.box-main {





	background-color: #FFF;





	height: auto;





	overflow: hidden;





	padding-bottom: 10px;





}





.map {





	margin-right: auto;





	margin-left: auto;





	text-align: justify;





	margin-top: 15px;





	margin-bottom: 30px;





	float: left;





	width: 400px;





	padding-top: 20px;





	padding-right: 30px;





	padding-bottom: 20px;





	padding-left: 30px;





}





.wordsmain {





	margin: 12px;





	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;





	font-size: 18px;





	text-align: center;





	padding-bottom: 10px;





	color: #444;





	padding-top: 10px;





	background-color: #EBEBEB;





	border: 1px solid #BBB;





}





#indexBody .top-tail .body-bg .main-width .slider .slider-wrapper .indent .box-main .map iframe {





	border: medium solid #888;





}





.aroundcontact {





}





.aroundcontact {











}





.contactright {





	float: right;





	height: auto;





	width: 400px;





	margin-top: 15px;





	margin-right: 30px;





	margin-bottom: 30px;





	padding-left: 20px;





	padding-top: 20px;





	padding-bottom: 3px;





	border-left-width: 1px;





	border-left-style: dotted;





	border-left-color: #DDD;





}





#indexBody .top-tail .body-bg .main-width .slider .slider-wrapper .indent .box-main .aroundcontact .contactright p {





	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;





	font-size: 16px;





	line-height: normal;





	color: #222;





	font-weight: bold;





	text-align: left;





}





#indexBody .top-tail .body-bg .main-width .slider .slider-wrapper .indent .box-main .aroundcontact .contactright ul li {





	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;





	font-size: 12px;





	line-height: 2em;





	color: #800;





}





#indexBody .top-tail .body-bg .main-width .slider .slider-wrapper .indent .box-main .aroundcontact .contactright p img {





	text-align: center;





	margin-right: 95px;





	margin-left: 55px;





	margin-top: 10px;





}





#indexBody .top-tail .body-bg .main-width .slider .slider-wrapper .indent .box-main .aroundcontact .map {





	float: left;





	width: 500px;





	margin-right: auto;





	margin-left: auto;





}





.contactform {





	float: left;





	width: 410px;





	margin-top: 15px;





	margin-right: auto;





	margin-bottom: 10px;





	margin-left: auto;





	padding: 20px;





}





.contactform_header {





	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;





	font-size: 18px;





	color: #777;





	margin-bottom: 40px;





	padding-bottom: 40px;





	line-height: 2em;





}





.home {





	padding: 30px;





	font-family: Georgia, "Times New Roman", Times, serif;





	font-size: 16px;





	line-height: 17px;





	margin-top: 20px;





	margin-right: 40px;





	margin-bottom: 40px;





	margin-left: 40px;





}





.home_text {





	font-family: Georgia, "Times New Roman", Times, serif;





	font-size: 14px;





	color: #777;





}





#indexBody .top-tail .body-bg .main-width .slider .slider-wrapper .indent .box-main .home {





	font-family: Georgia, "Times New Roman", Times, serif;





	font-size: 16px;





}





.contactright2 {





	float: right;





	width: 370px;





	margin-right: 50px;





	margin-bottom: 30px;





	height: auto;





	border-top-width: 1px;





	border-right-width: 1px;





	border-bottom-width: 1px;





	border-left-width: 1px;





	border-top-color: #888;





	border-right-color: #888;





	border-bottom-color: #888;





	border-left-color: #888;





}











#lightbox{	position: absolute;	left: 0; width: 100%; z-index: 100; text-align: center; line-height: 0;}





#lightbox img{ width: auto; height: auto;}





#lightbox a img{ border: none; }











#outerImageContainer{ position: relative; background-color: #fff; width: 250px; height: 250px; margin: 0 auto; }





#imageContainer{ padding: 10px; }











#loading{ position: absolute; top: 40%; left: 0%; height: 25%; width: 100%; text-align: center; line-height: 0; }





#hoverNav{ position: absolute; top: 0; left: 0; height: 100%; width: 100%; z-index: 10; }





#imageContainer>#hoverNav{ left: 0;}





#hoverNav a{ outline: none;}











#prevLink, #nextLink{ width: 49%; height: 100%; background-image: url(data:image/gif;base64,AAAA); /* Trick IE into showing hover */ display: block; }





#prevLink { left: 0; float: left;}





#nextLink { right: 0; float: right;}





#prevLink:hover, #prevLink:visited:hover { background: url(images/prevlabel.gif) left 15% no-repeat; }





#nextLink:hover, #nextLink:visited:hover { background: url(images/nextlabel.gif) right 15% no-repeat; }











#imageDataContainer{ font: 10px Verdana, Helvetica, sans-serif; background-color: #fff; margin: 0 auto; line-height: 1.4em; overflow: auto; width: 100%	; }











#imageData{	padding:0 10px; color: #666; }





#imageData #imageDetails{ width: 70%; float: left; text-align: left; }	





#imageData #caption{ font-weight: bold;	}





#imageData #numberDisplay{ display: block; clear: left; padding-bottom: 1.0em;	}			





#imageData #bottomNavClose{ width: 66px; float: right;  padding-bottom: 0.7em; outline: none;}	 	











#overlay{ position: absolute; top: 0; left: 0; z-index: 90; width: 100%; height: 500px; background-color: #000; }





.indeximg {





	border-top-style: none;





	border-right-style: none;





	border-bottom-style: none;





	border-left-style: none;





}





.homeleft {





	float: left;





	width: 510px;





}





.homeright {





	float: right;





	width: 220px;





}





h1 {





	font-family: Georgia, "Times New Roman", Times, serif;





	font-size: 18px;





	color: #222;





}





h1 {





	font-family: Georgia, "Times New Roman", Times, serif;





	font-size: 16px;





	color: #111;





}





#indexBody .body-bg .main-width .slider .indent .box-main .slider-wrapper .home .homeright p img {





	border-top-style: none;





	border-right-style: none;





	border-bottom-style: none;





	border-left-style: none;





}





#indexBody .body-bg .main-width #header .lang a {


	color: #DDD;


}


